body{
    margin: 0;
    padding: 0;
    font-family: raleway, Arial, Helvetica, sans-serif;
    width: 100%;
}

/********** HEADER/ MAIN SETTINGS ************/
header{
    display: flex;
    width: 100%;
}

main, header{
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}
/***************** LOGO ************/
.logoReservia img{
    height: 55px;
    width: 130px;
    object-fit: contain;
}

.mainTitle h3{
    font-weight: 400;
}

/************** NAV SECTION ****************/
.navMenu{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-weight: 500;
}

.navMenu a{
    color: rgb(95, 95, 95);
    text-decoration: none;
    padding: 20px 10px;
    border-top: transparent 3px solid;
}

.signUp{
    font-weight: 600;
    color: #0065FC;
}

.navMenu a:hover{
    border-top: 3px solid #0065FC;
}

.navMenuResponsive{
    display: none;
}

/***************** SEARCHBAR/ RESPONSIVE SEARCHBAR SECTION **********************/
.searchbar{
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-flex;
    height: 50px;
    width: 100%;
}

.searchbar label{
    color: #4d4d4d;
}

.searchbar i{
    background-color: #F2F2F2;
    padding: 17px;
    border-radius: 15px 0px 0px 15px;
    margin-right: 0;
}

.searchbar input{
    border: 1px #F2F2F2 solid;
    height: 50px;
    width: 12%;
    padding: 10px;
}

.searchbar button{
    border: none;
    background-color: #0065FC;
    height: 50px;
    width: 150px;
    border-radius: 0px 15px 15px 0px;
    font-family: raleway, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 105%;
    color: #F2F2F2;
    cursor: pointer;
}

::placeholder{
    font-family: raleway;
    padding: 0px;
    font-weight: 600;
    font-size: medium;
}

.responsiveSearchbar{
    display: none;
    width: 100%;
}

/************************** FILTERS SECTION *******************************/
.filters{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.filtersTitle{
    margin-right: 5%;
}

.subFilters{
    display: flex;
    align-items: center;
    margin-right: 1.8rem;
    border: 2px solid #F2F2F2;
    border-radius: 1.8rem;
    cursor: pointer;
    font-weight: 600;
    transition-duration: 0.2s;
    transition: scale, 0.2s ease;
    box-shadow: 0px 0px 15px rgb(247, 247, 247);
}

.subFilters i{
    padding: 1.2rem;
    background-color: #eaf2ff;
    border-radius: 2rem;
    color: #0065FC;
}

.subFilters p{
    padding: 0 20px;
}

.subFilters:hover{
    transform: scale(1.02);
    background-color: #0066ff;
    color: white;
    cursor: pointer;
}

.subFilters:active{
    transform: scaleZ(1);
}

/************** HOSTING/ MOST POPULAR SECTION **************/
.info{
    display: inline-flex;
    margin-left: 0;
    width: 450px;
}

.info i{
    margin-right: 10px;
    margin: auto;
    font-size: larger;
    color:#0065FC;
}

.mainContent{
    display: flex;
    width: 100%;
}

.hosting{
    flex-wrap: wrap;
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin-right: 2%;
}

.hosting h2{
    margin-left: 2%;
}

.hostingArticle{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.hosting article{
    padding: 0.5rem;
    margin: 1rem;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 1rem;
    transition: scale, 0.2s ease-in;
    box-shadow: 0px 0px 10px rgb(211, 211, 211);
}

.hosting article:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.hostingFigure img{
    display: inline-flex;
    width: 240px;
    height: 140px;
    object-fit: cover;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
}

.hostingFigure figcaption{
    padding: 5px;
}

.hostingFigure figcaption span{
    font-weight: 600;
    font-size: large;
}

.iNoColor{
    color: rgb(212, 212, 212);
}

.iColor{
    color: #0065FC;
}

/*************** MOST POPULAR ***********/
.mostPopular{
    height: 100%;
    width: 35%;
    background-color: #F2F2F2;
    border-radius: 1rem;
}

.mostPopular h2{
    margin-left: 2%;
}

.mostPopularArticle{
    width: 85%;
    border-radius: 1rem;
    padding: 1.5rem;
    transition: scale, 0.2s ease-in;
}

.mostPopularArticle h2{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.mostPopularArticle span{
    font-weight: 600;
}

.mostPopularArticleMain{ 
    display: flex;
    justify-content: center;
    width: 100%;
    height: 130px;
    padding: 0.5rem;
    background-color: white;
    margin: 1.5rem auto;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px rgb(211, 211, 211);
    transition: scale, 0.2s ease;
}

.mostPopularArticleMain:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.mostPopularArticleMain img{
    width: 30%;
    height: 130px;
    object-fit: cover;
    float: left;
    border-radius: 1rem 0rem 0rem 1rem;
}

.mostPopularArticleContent{
    display: block;
    flex-direction: column;
    margin-right: auto;
    justify-content: space-around;
}

.mostPopularArticleContent, h3, p{
    margin: 5px px 5px 5px;
}

/************** ACTIVITY SECTION ***************/
.activityMainTitle h2{
    margin: 2% 2%;
}

.activity{
    display: inline-flex;
    width: 100%;
    height: 500px;
}

.activity article{
    margin: 1rem 1rem;
    transition: scale, 0.2s ease;
}

.activity article:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.WideStyle img{
    height: 485px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
    box-shadow: 0px 0px 20px rgb(211, 211, 211);
}

.noWideStyle img{
    flex-direction: column;
    height: 211px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
    box-shadow: 0px 0px 20px rgb(211, 211, 211);
}

.activityTitle{
    border-radius: 0rem 0rem 1rem 1rem;
    box-shadow: 0px 0px 20px rgb(211, 211, 211);
    margin-top: -10px;
    height: 50px;
    line-height: 50px;
    padding: 0px 1rem;
}

.activityTitle h3{
    padding: 2rem;
}

footer{
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 5rem;
    display: inline-flex;
    justify-content: space-around;
}

footer ul{
    list-style: none;
}

footer ul li{
    padding: 0.5rem 0rem;
}

footer ul li a:hover{
    cursor: pointer;
    text-decoration: underline 1px #414141;
}

/************************************************************************************************/
/********************************** SMARTPHONE RESPONSIVE ***************************************/
/************************************************************************************************/
@media screen and (max-width: 375px){
    header{
        flex-wrap: wrap;
    }

    .logoReservia{
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
    }

    .navMenu{
        display: none;
    }

    .navMenuResponsive{
        display: flex;
        height: 40px;
        width: 100%;
        font-weight: 500;
        border-bottom: 3px rgb(243, 243, 243) solid;
    }

    .navMenuResponsive a{
        display: flex;
        justify-content: space-around;
        border-top: transparent 3px solid;
        color: black;
        text-decoration: none;
        height: 17px;
        width: 100%;
        padding: 10px;
        font-weight: 500;
    }

    .navMenuResponsive a:hover{
        border-bottom: 3px #0065FC solid;
        color: #0065FC;
    }

    .mainTitle{
        font-size: 10px;
        justify-content: center;
        padding: 15px;
        flex-direction: column;
    }

    .mainTitle h3{
        font-size: medium;
        font-weight: 400;
    }

    .signUp{
        display: none;
    }
    
    .signUpResponsive{
        display: flex;
        align-items: center;
        padding: 1rem;
        color: #0065FC;
        font-weight: 600;
    }

    .info{
        font-size: larger;
        width: 100%;
    }
    .info i{
        margin: 10px;
        font-size: larger;
        color: #0065FC;
    }

    .searchbar{
        display: none;
    }

    .responsiveSearchbar{
        display: flex;
        justify-content: center;
        height: 50px;
    }

    .responsiveSearchbar input{
        width: 50%;
        border:1px solid #F2F2F2;
    }

    ::placeholder{
        font-family: raleway;
        font-weight: 600;
        font-size: medium;
        padding: 5px;
    }

    .responsiveSearchbar button{
        width: 70px;
        border: none;
        border-radius: 1rem 1rem 1rem 1rem;
        background-color: #0065FC ;
        color: white;
        margin-left: -20px;
    }

    .responsiveSearchbar .pointer{
        background-color: #F2F2F2;
        color: rgb(43, 43, 43);
        padding: 17px;
        border-radius: 1rem 0rem 0rem 1rem;
        border: none;
    }
    .filters{
        flex-direction: column;
    }

    .filtersTitle{
        margin: 5px 10%;
        font-size: larger;
        font-weight: 600;
    }

    .subFilters{
        width: 85%;
        margin: 5px auto;
        display: flex;
        align-items: center;
        border: 2px solid #F2F2F2;
        border-radius: 1.8rem;
        cursor: pointer;
        font-weight: 600;
        transition-duration: 0.2s;
        transition: scale, 0.2s ease;
        box-shadow: 0px 0px 15px rgb(247, 247, 247);
    }
    .mainContent{
        flex-direction: column-reverse;
        padding: 1rem;
        display: flex;
        width: auto;
    }

    .mostPopular h2{
        font-size: larger;
        justify-content: space-around;
    }

    .mostPopular{
        background-color: white;
        width: 100%;
    }

    .mostPopularArticle{
        width: 100%;
        height: 600px;
        background-color: #F2F2F2;
        border-radius: 0;
        transition: scale, 0.2s ease-in;
        padding: 0;
        margin-bottom: 1rem;
    }

    .mostPopularArticleMain{
        display: flex;
        justify-content: center;
        width: 85%;
        height: 130px;
        background-color: white;
        border-radius: 1.5rem;
        box-shadow: 0px 0px 10px rgb(211, 211, 211);
        transition: scale, 0.2s ease;
    }

    .mostPopularArticleContent{
        padding: 1%;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .mostPopularArticle h3{
        margin: 0px 0px 0px 10px;
    }

    .mostPopularArticle p{
        margin: 0px 0px 15% 10px;
    }

    .mostPopularArticle span{
        font-weight: 600;
    }

    .ratingMostPopular{
        margin: 0px 0px 0px 10px;
    }

    .hosting{
        width: 100%;
        padding: 0;
        background-color: white;
    }

    .hosting h2{
        display: flex;
        justify-content: center;
        font-size: larger;
    }

    .hosting article{
        padding: 0.5rem;
        margin: 1rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        border-radius: 1rem;
        transition: scale, 0.2s ease-in;
        box-shadow: 0px 0px 10px rgb(211, 211, 211);
    }
    
    .hostingFigure img{
        display: inline-flex;
        width: 100%;
        height: 140px;
        object-fit: cover;
        border-radius: 0.8rem 0.8rem 0rem 0rem;
    }

    .moreHostingContent{
        width: 100%;
        padding: 0.5rem;
        text-decoration: none;
        font-weight: 600;
        color: black;
    }

    .activity{
        height: fit-content;
        flex-direction: column;
    }
    
    .activityMainTitle h2{
        display: flex;
        justify-content: center;
        font-size: larger;
        margin-top: 1rem;
    }

    .activity article img{
        height: 150px;
    }

    .activity figcaption{
        font-size: small;
    }

    footer{
        flex-direction: column;
    }
}

